apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: traefik-external
  name: home-assistant
spec:
  rules:
  - http:
      paths:
      - backend:
          service:
            name: home-assistant
            port:
              name: http
        path: /
        pathType: ImplementationSpecific
---
apiVersion: traefik.io/v1alpha1
kind: IngressRouteUDP
metadata:
  name: hass-colot-ingress
  annotations: 
    kubernetes.io/ingress.class: traefik-internal
spec:
  entryPoints:
    - colot
  routes:
  - services:
    - name: home-assistant
      port: 5683
      weight: 10