image:
  pullPolicy: Always

ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`traefik.vandeneede.org`)
    entryPoints: ["websecure"]

global:
  checkNewVersion: false
  sendAnonymousUsage: false

additionalArguments:
  - "--serversTransport.insecureSkipVerify=true"
  - "--log.level=INFO"

tlsStore:
  default:
    defaultCertificate:
      secretName: vandeneede-org-production-tls

deployment:
  enabled: true
  replicas: 2

ports:
  web:
    port: 8000
    expose:
      default: true
    exposedPort: 80
    redirections:
      entryPoint:
        to: websecure
        scheme: https
        permanent: true
    protocol: TCP
  websecure:
    asDefault: true
    port: 8443
    expose:
      default: true
    exposedPort: 443
    protocol: TCP
    tls:
      enabled: true
  mqtt:
    port: 1883
    expose:
      default: true
    exposedPort: 1883
    protocol: TCP

providers:
  kubernetesCRD:
    enabled: true
    ingressClass: traefik-internal
  kubernetesIngress:
    enabled: true
    ingressClass: traefik-internal
    publishedService:
      enabled: true

service:
  enabled: true
  type: LoadBalancer
  spec:
    loadBalancerIP: 192.168.100.51