*secret*.yaml
/terraform/.DS_Store
/terraform/terraform.tfstate.backup
/terraform/terraform.tfstate
/terraform/terraform.tfvars
/terraform/.terraform
/kubernetes/talos/config/.merged
/kubernetes/talos/config/.base
/kubernetes/talos/alt-kube
/kubernetes/talos/cluster/longhorn/.DS_Store
