apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: protonmail-bridge-data
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: clusterstorage
  volumeMode: Filesystem