apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kitchenowl-data
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  storageClassName: clusterstorage-external
  volumeMode: Filesystem