apiVersion: apps/v1
kind: Deployment
metadata:
  name: zigbee2mqtt
spec:
  selector:
    matchLabels:
      app: zigbee2mqtt
      release: zigbee2mqtt
  template:
    metadata:
      labels:
        app: zigbee2mqtt
        release: zigbee2mqtt
    spec:
      automountServiceAccountToken: false
      containers:
      - image: koenkk/zigbee2mqtt:latest
        imagePullPolicy: Always
        name: zigbee2mqtt
        env:
        - name: "TZ"
          value: "Europe/Brussels"
        - name: "ZIGBEE2MQTT_CONFIG_MQTT_BASE_TOPIC"
          value: "zigbee2mqtt"
        - name: "ZIGBEE2MQTT_CONFIG_MQTT_SERVER"
          value: "mqtt://mosquitto.mosquitto.svc.cluster.local:1883"
        - name: "ZIGBEE2MQTT_CONFIG_MQTT_USER"
          valueFrom:
            secretKeyRef:
              name: zigbee-secrets
              key: mqtt-username
        - name: "ZIGBEE2MQTT_CONFIG_MQTT_PASSWORD"
          valueFrom:
            secretKeyRef:
              name: zigbee-secrets
              key: mqtt-password
        - name: "ZIGBEE2MQTT_CONFIG_MQTT_KEEPALIVE"
          value: "60"
        - name: "ZIGBEE2MQTT_CONFIG_FRONTEND_ENABLED"
          value: "true"
        - name: "ZIGBEE2MQTT_CONFIG_FRONTEND_PORT"
          value: "8080"
        - name: "ZIGBEE2MQTT_CONFIG_SERIAL_PORT"
          value: "/dev/ttyUSB0"
        - name: "ZIGBEE2MQTT_CONFIG_SERIAL_ADAPTER"
          value: "zstack"
        - name: "ZIGBEE2MQTT_CONFIG_AVAILABILITY_ENABLED"
          value: "true" 
        - name: "ZIGBEE2MQTT_CONFIG_ADVANCED_LAST_SEEN"
          value: "ISO_8601"
        ports:
        - containerPort: 8080
          name: http
          protocol: TCP
        volumeMounts:
        - mountPath: /app/data
          name: config
        - mountPath: /dev/ttyUSB0
          name: dongle
        securityContext:
          privileged: true
        # --- Probes ---
        readinessProbe:
          failureThreshold: 6
          successThreshold: 1
          initialDelaySeconds: 0
          timeoutSeconds: 1
          periodSeconds: 5
          httpGet:
            scheme: HTTP
            port: 8080
            path: /#/
        livenessProbe:
          failureThreshold: 6
          successThreshold: 1
          initialDelaySeconds: 0
          timeoutSeconds: 1
          periodSeconds: 5
          tcpSocket:
            port: 8080
        # ---------------
      restartPolicy: Always
      nodeName: derp
      terminationGracePeriodSeconds: 30
      volumes:
      - name: config
        persistentVolumeClaim:
          claimName: zigbee2mqtt
      - name: dongle
        hostPath:
          path: /dev/ttyUSB0
